
*.pdb

*.txt

*.log

*.vcxproj

*.filters

EmptyProject/.vs/EmptyProject_2010/v16/.suo

EmptyProject/.vs/EmptyProject_2010/v16/Browse.VC.db

*.opendb

*.db-wal

EmptyProject/.vs/EmptyProject_2010/v16/

*.tlog

*.ipch
